/* Applies to all elements by virtue of the wildcard selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Applies to the body of the html document */
body {
    background-color: #d9dcd6;
}

/* Applies to the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Applies to the first-level heading within the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Applies to the span within the header */
header h1 span {
    color: #d9dcd6;
}

/* Applies to the nav element in the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Applies to the unordered list of navigation links within the nav element */
header nav ul {
    list-style-type: none;
}

/* Applies to each list item (i.e. navigation link) within the nav element */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Applies to all anchor tags in the html document */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Applies to all paragraph elements in the html document */
p {
    font-size: 16px;
}

/* Applies to the hero */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Applies to the images in the content section with class "float-left" */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Applies to the images in the content section with class "float-right" */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Applies to the content section */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Applies to the benefits section */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Applies to the articles within the benefits section */
#benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Applies to the third-level headings within the articles inside the benefits section */
#benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Applies to the images within the articles inside the benefits section */
#benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applies to the article elements within the content section */
#content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Applies to the images within each article inside the content section */
#content article img {
    max-height: 200px;
}

/* Applies to the second-level headings inside each article within the content section */
#content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Applies to the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Applies to the second-level headings inside the footer element */
footer h2 {
    font-size: 20px;
}
